/* 
-------------------------------------------------------------
  SLIDER STYLE
-------------------------------------------------------------
*/ 
.equaliser {
  border: 1px solid red;
  text-align: center;
}

.equaliserSliders {
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  display: inline-block;
}
.equaliserSliders > input {
    -webkit-appearance: slider-vertical;
    width: 20px;
    height: 100px;
    margin-left: 20px;
 }
.equaliserSliders > input:first-child {
  margin-left: 0;
}


/* 
-------------------------------------------------------------
  MAIN STYLE
-------------------------------------------------------------
*/ 
#audioPlayer {
  width: 800px; 
  height: 30px; 
  background: #000; 
  padding: 5px; 
  margin: 5px auto; 
}

#audioPlayer audio {
  width: 800px;
  background: #000;
  float: left;
}



#analyserRender1  { 
  height: 100vh; 
  width: 80vw; 
  display: block;
}

#AnalyserRender2  {
   height: 50vh; 
  width: 80vw; 
  display: block;
}

#body {
  background-color: "white";
}